/.idea

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools

/component/docimport.xml
/component/fof
/component/strapper
/component/backend/version.php

/documentation/*.xml~

release/
