release/
/nbproject/private/
nbproject/
old-component/
/xsltest/
build/build.properties
/component/media/akeebabackup/
component/docimport.xml
component/fof
component/strapper
/component/media/jmanual/
/component/media/coding-standards/
/component/media/manual/

build/AntBuild.xml
.buildpath
.project
.settings/

/documentation/docimport-guide.xml~