<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="uses3" type="radio" default="0"
			label="Use S3/CloudFront for images">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="s3accesskey" type="text" default=""
			label="S3 Access Key"
		/>
		<param name="s3secretkey" type="password" default=""
			label="S3 Access Key"
		/>
		<param name="s3bucket" type="text" default=""
			label="S3 Bucket"
		/>
		<param name="s3basedir" type="text" default="images"
			label="S3 base Directory"
		/>
		<param name="cdnurl" type="text" default=""
			label="CloudFront distribution URL"
		/>
		
		<param X_menu="hide" name="base" type="menuitem" default="" label="Root menu item" description="Select a menu item under which to create a nested menu structure of imported documentation." />
	</params>	
</config>