<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset
			name="basic"
			label="COM_DOCIMPORT_CONFIG_BASIC_LABEL"
			description="COM_DOCIMPORT_CONFIG_BASIC_DESC"
			>

		<field name="mediaroot" type="text" default="com_docimport/books"
			   label="COM_DOCIMPORT_CONFIG_MEDIAROOT_LABEL"
			   description="COM_DOCIMPORT_CONFIG_MEDIAROOT_DESC"
		/>

		<field name="siteurl" type="hidden" default=""
			   label="" />
		<field name="sitepath" type="hidden" default=""
			   label="" />
	</fieldset>

	<fieldset
			name="unisearch"
			label="COM_DOCIMPORT_CONFIG_UNISEARCH_LABEL"
			description="COM_DOCIMPORT_CONFIG_UNISEARCH_DESC"
	>
		<field name="search_areas"
			   type="repeatable"
			   icon="list"
			   label="COM_DOCIMPORT_CONFIG_SEARCHAREAS_LABEL"
			   description="COM_DOCIMPORT_CONFIG_SEARCHAREAS_DESC"
			   default="">
				<field name="title"
					   label="COM_DOCIMPORT_CONFIG_SEARCHAREAS_TITLE_LABEL"
					   size="30"
					   type="text" />
				<field name="slug"
					   label="COM_DOCIMPORT_CONFIG_SEARCHAREAS_SLUG_LABEL"
					   size="30"
					   type="text" />
				<field
						name="jcat"
						type="category"
						extension="com_content"
						multiple="true"
						size="10"
						default=""
						label="COM_DOCIMPORT_CONFIG_SEARCHAREAS_JCAT_LABEL"
				/>
				<field
						name="dicat"
						type="sql"
						default=""
						multiple="true"
						label="COM_DOCIMPORT_CONFIG_SEARCHAREAS_DICAT_LABEL"
						query="SELECT `docimport_category_id` as `id`, `title` FROM `#__docimport_categories` ORDER BY `ordering`,`title` ASC"
						key_field="id"
						value_field="title"
				/>
				<field
						name="atscat"
						type="category"
						extension="com_ats"
						multiple="true"
						size="10"
						default=""
						label="COM_DOCIMPORT_CONFIG_SEARCHAREAS_ATSCAT_LABEL"
				/>
		</field>
	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				filter="rules"
				component="com_akeebasubs"
				section="component" />
	</fieldset>

</config>